name: CI
on:
  push:
    branches:
      - main
      - master
      - release-*
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - master
      - release-*

jobs:
  CI:
    strategy:
      matrix:
        # node-version: [10.x, 12.x, 14.x]
        node-version: [14.x]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Set up nodejs version ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install package
      run: npm install
    - name: Linter
      run:  npm run lint
    - name: Build
      run: npm run build --if-present
    - name: Test
      run: npm run test